---
layout: default-layout
title: CrossVerificationStatus - Dynamsoft Capture Vision Flutter
description: The enumeration CrossVerificationStatus of Dynamsoft Capture Vision Flutter describes the status of the captured results.
keywords: cross verification status
needGenerateH3Content: true
needAutoGenerateSidebar: true
noTitleIndex: true
breadcrumbText: CrossVerificationStatus
codeAutoHeight: true
---

# Enumeration CrossVerificationStatus

`CrossVerificationStatus` describes the status of the captured results.

## Definition

*Assembly:* dynamsoft_capture_vision_flutter

```dart
enum EnumCrossVerificationStatus {
  notVerified,
  passed,
  failed
}
```

## Members

| Member | Description |
| ------ | ----------- |
| `notVerified` | The item has not been verified. |
| `passed` | The item has passed verification. |
| `failed` | The item has failed verification. |
