<li><a href="{{ site.faq }}" class="otherLinkColour">FAQ</a>
    <ul>
        <li><a href="{{ site.faq }}exclude-architectures.html" class="otherLinkColour">How to Solve "Building for iOS Simulator, but linking in dylib built for iOS"</a></li>
        <li><a href="{{ site.faq }}can-i-build-ios-for-armv7.html" class="otherLinkColour">Can I build an iOS app for armv7?</a></li>
        <li><a href="{{ site.faq }}xamarin-how-to-add-image.html" class="otherLinkColour">How to add image assets in Xamarin.forms?</a></li>
    </ul>
</li>
