<li><a href="{{ site.faq }}" class="otherLinkColour">FAQ</a>
    <ul>
        <li><a href="{{ site.faq }}exclude-architectures.html" class="otherLinkColour">How to Solve "Building for iOS Simulator, but linking in dylib built for iOS"</a></li>
        <li><a href="{{ site.faq }}can-i-build-ios-for-armv7.html" class="otherLinkColour">Can I build an iOS app for armv7?</a></li>
        <li><a href="{{ site.faq }}xamarin-how-to-add-image.html" class="otherLinkColour">How do I add image assets in Xamarin.forms?</a></li>
        <li><a href="{{ site.faq }}net-maui-support.html" class="otherLinkColour">Does DCV support .NET MAUI?</a></li>
        <li><a href="{{ site.faq }}cordova-signature-error.html" class="otherLinkColour">When building my Cordova app, I get an error saying “invalid signature”. How do I resolve that?</a></li>
        <li><a href="{{ site.faq }}runtime-settings-dcv.html" class="otherLinkColour">Are all the runtime settings included in the Barcode Reader module of the DCV packages?</a></li>
        <li><a href="{{ site.faq }}proguard.html" class="otherLinkColour">How to Prevent Project Build Failure after Shrinking Code in Xamarin.Forms?</a></li>
    </ul>
</li>
