<li lang="maui" class="category">DEVELOPMENT</li>

<li lang="maui"><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="maui">
        <li lang="maui"><a class="otherLinkColour">Getting Started</a>
            <ul lang="maui">
                <li lang="maui"><a href="{{ site.dbr_maui }}user-guide.html" style="cursor:pointer;color:#3c3c3c">Read Barcodes</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui }}user-guide.html" style="cursor:pointer;color:#3c3c3c">Scan Documents</a></li>
                <li lang="maui"><a href="{{ site.dcv_maui }}user-guide/mrz.html" style="cursor:pointer;color:#3c3c3c">Scan MRZ</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="maui"><a href="{{ site.dcv_maui }}samples/" class="otherLinkColour">Demo & Samples</a></li>
<li lang="maui"><a href="{{ site.dcv_maui_api }}" class="otherLinkColour">API Reference</a>
    <ul lang="maui">
        <li lang="maui"><a>Dynamsoft.CaptureVisionRouter.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CaptureVisionRouter</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/constructors.html"  class="otherLinkColour">Constructor and Destructor</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/single-file-processing.html"  class="otherLinkColour">Single-File Processing</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/multiple-file-processing.html"  class="otherLinkColour">Multiple-File Processing</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/settings.html"  class="otherLinkColour">Settings</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/intermediate-result.html"  class="otherLinkColour">Intermediate Result</a></li>
                    </ul>
                </li>
                <li lang="maui"><a class="otherLinkColour">Auxiliary Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CaptureVisionRouterModule</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/captured-result-filter.html" class="otherLinkColour">CapturedResultFilter</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/captured-result-receiver.html" class="otherLinkColour">CapturedResultReceiver</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/captured-result.html" class="otherLinkColour">CapturedResult</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/intermediate-result-manager.html" class="otherLinkColour">IntermediateResultManager</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/preset-template.html"  class="otherLinkColour">PresetTemplate</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/simplified-capture-vision-settings.html"  class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.BarcodeReader.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dbr_maui_api }}barcode-reader-module.html" class="otherLinkColour">BarcodeReaderModule</a></li>
                        <li lang="maui"><a href="{{ site.dbr_maui_api }}barcode-result-item.html" class="otherLinkColour">BarcodeResultItem</a></li>
                        <li lang="maui"><a href="{{ site.dbr_maui_api }}decoded-barcodes-result.html" class="otherLinkColour">DecodedBarcodesResult</a></li>
                        <li lang="maui"><a href="{{ site.dbr_maui_api }}simplified-barcode-reader-settings.html"  class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                    </ul>
                </li>
                <li lang="maui"><a>Enumerations</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}enum/barcode-format.html"  class="otherLinkColour">EnumBarcodeFormat</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}enum/deblur-mode.html"  class="otherLinkColour">EnumDeblurMode</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}enum/localization-mode.html"  class="otherLinkColour">EnumLocalizationMode</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.DocumentNormalizer.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.ddn_maui_api }}detected-quad-result-item.html" class="otherLinkColour">DetectedQuadResultItem</a></li>
                        <li lang="maui"><a href="{{ site.ddn_maui_api }}detected-quads-result.html" class="otherLinkColour">DetectedQuadsResult</a></li>
                        <li lang="maui"><a href="{{ site.ddn_maui_api }}document-normalizer-module.html" class="otherLinkColour">DocumentNormalizerModule</a></li>
                        <li lang="maui"><a href="{{ site.ddn_maui_api }}normalized-image-result-item.html" class="otherLinkColour">NormalizedImageResultItem</a></li>
                        <li lang="maui"><a href="{{ site.ddn_maui_api }}normalized-images-result.html" class="otherLinkColour">NormalizedImagesResult</a></li>
                        <li lang="maui"><a href="{{ site.ddn_maui_api }}simplified-document-normalizer-settings.html" class="otherLinkColour">SimplifiedDocumentNormalizerSettings</a></li>
                    </ul>
                </li>
                <li lang="maui"><a>Enumerations</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.ddn_maui_api }}enum/colour-mode.html"  class="otherLinkColour">EnumColourMode</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.LabelRecognizer.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dlr_maui_api }}character-result.html" class="otherLinkColour">CharacterResult</a></li>
                        <li lang="maui"><a href="{{ site.dlr_maui_api }}label-recognizer-module.html" class="otherLinkColour">LabelRecognizerModule</a></li>
                        <li lang="maui"><a href="{{ site.dlr_maui_api }}recognized-text-lines-result.html" class="otherLinkColour">RecognizedTextLinesResult</a></li>
                        <li lang="maui"><a href="{{ site.dlr_maui_api }}simplified-label-recognizer-settings.html" class="otherLinkColour">SimplifiedLabelRecognizerSettings</a></li>
                        <li lang="maui"><a href="{{ site.dlr_maui_api }}text-line-result-item.html" class="otherLinkColour">TextLineResultItem</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.CameraEnhancer.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dce_maui_api }}camera-enhancer-module.html" class="otherLinkColour">CameraEnhancerModule</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}camera-enhancer.html" class="otherLinkColour">CameraEnhancer</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}camera-view.html" class="otherLinkColour">CameraView</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}drawing-item.html" class="otherLinkColour">DrawingItem</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}drawing-layer.html" class="otherLinkColour">DrawingLayer</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}feedback.html" class="otherLinkColour">Feedback</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}image-editor-view.html" class="otherLinkColour">ImageEditorView</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}quad-drawing-item.html" class="otherLinkColour">QuadDrawingItem</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}torch-button.html" class="otherLinkColour">TorchButton</a></li>
                    </ul>
                </li>
                <li lang="maui"><a>Enumerations</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dce_maui_api }}enum/camera-position.html" class="otherLinkColour">EnumCameraPosition</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}enum/drawing-layer-id.html" class="otherLinkColour">EnumDrawingLayerId</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}enum/drawing-style-id.html" class="otherLinkColour">EnumDrawingStyleId</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}enum/enhanced-features.html" class="otherLinkColour">EnumEnhancedFeatures</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}enum/focus-mode.html" class="otherLinkColour">EnumFocusMode</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.Utility.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">MultiFrameResultCrossFilter</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}utility/image-manager.html" class="otherLinkColour">ImageManager</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}utility/utility-module.html" class="otherLinkColour">UtilityModule</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.ImageProcessing.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}dip/image-processing-module.html" class="otherLinkColour">ImageProcessingModule</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.Core.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/captured-result-item.html" class="otherLinkColour">CapturedResultItem</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/core-exception.html" class="otherLinkColour">CoreException</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/core-module.html" class="otherLinkColour">CoreModule</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/rect.html" class="otherLinkColour">DMRect</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/image-data.html" class="otherLinkColour">ImageData</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/image-source-adapter.html" class="otherLinkColour">ImageSourceAdapter</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                    </ul>
                </li>
                
                <li lang="maui"><a class="otherLinkColour">Interfaces</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/completion-listener.html" class="otherLinkColour">CompletionListener</a></li>
                    </ul>
                </li>

                <li lang="maui"><a>Enumerations</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/enum/captured-result-item-type.html"  class="otherLinkColour">EnumCapturedResultItemType</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/enum/colour-channel-usage-type.html"  class="otherLinkColour">EnumColourChannelUsageType</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/enum/grayscale-enhancement-mode.html"  class="otherLinkColour">EnumGrayscaleEnhancementMode</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/enum/grayscale-transformation-mode.html"  class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/enum/image-pixel-format.html"  class="otherLinkColour">EnumImagePixelFormat</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.License.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}license/license-manager.html" class="otherLinkColour">LicenseManager</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}license/license-module.html" class="otherLinkColour">LicenseModule</a></li>
                    </ul>
                </li>
                <li lang="maui"><a class="otherLinkColour">Interfaces</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}license/license-verification-listener.html"  class="otherLinkColour">LicenseVerificationListener</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.CodeParser.Maui</a>
            <ul lang="maui">                
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcp_maui_api }}code-parser-module.html" class="otherLinkColour">CodeParserModule</a></li>
                        <li lang="maui"><a href="{{ site.dcp_maui_api }}parsed-field.html" class="otherLinkColour">ParsedField</a></li>
                        <li lang="maui"><a href="{{ site.dcp_maui_api }}parsed-result-item.html" class="otherLinkColour">ParsedResultItem</a></li>
                        <li lang="maui"><a href="{{ site.dcp_maui_api }}parsed-result.html" class="otherLinkColour">ParsedResult</a></li>
                    </ul>
                </li>
                <li lang="maui"><a>Enumerations</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcp_maui_api }}enum/mapping-status.html"  class="otherLinkColour">EnumMappingStatus</a></li>
                        <li lang="maui"><a href="{{ site.dcp_maui_api }}enum/validation-status.html"  class="otherLinkColour">EnumValiadtionStatus</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li lang="maui" class="category">UNDERSTANDING DCV</li>
<li lang="maui"><a href="{{ site.dcvb_introduction }}index.html" class="otherLinkColour">Overview of DCV</a></li>
<li lang="maui"><a href="{{ site.architecture }}" class="otherLinkColour">Architecture</a>
    <ul>
        <li lang="maui"><a href="{{ site.architecture }}input.html" class="otherLinkColour">Input</a></li>
        <li lang="maui"><a href="{{ site.architecture }}image-processing/index.html" class="otherLinkColour">Image Processing</a>
            <ul>
                <li lang="maui"><a href="{{ site.architecture }}image-processing/region-predetection.html" class="otherLinkColour">Region Pre-detection</a></li>
                <li lang="maui"><a href="{{ site.architecture }}image-processing/shared-detection.html" class="otherLinkColour">Shared Detection</a></li>
                <li lang="maui"><a href="{{ site.architecture }}image-processing/barcode-localization.html" class="otherLinkColour">Barcode Localization</a></li>
                <li lang="maui"><a href="{{ site.architecture }}image-processing/barcode-decoding.html" class="otherLinkColour">Barcode Decoding</a></li>
                <li lang="maui"><a href="{{ site.architecture }}image-processing/textline-localization.html" class="otherLinkColour">Text-line Localization</a></li>
                <li lang="maui"><a href="{{ site.architecture }}image-processing/textline-recognition.html" class="otherLinkColour">Text-line Recognition</a></li>
                <li lang="maui"><a href="{{ site.architecture }}image-processing/document-detection.html" class="otherLinkColour">Document Detection</a></li>
                <li lang="maui"><a href="{{ site.architecture }}image-processing/document-normalization.html" class="otherLinkColour">Document Normalization</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.architecture }}semantic-processing.html" class="otherLinkColour">Semantic Processing</a></li>
        <li lang="maui"><a href="{{ site.architecture }}output.html" class="otherLinkColour">Output</a></li>
    </ul>
</li>

<li lang="maui"><a href="{{ site.parameter }}file/index.html" class="otherLinkColour">Parameter Organization</a>
    <ul>
        <li lang="maui"><a href="{{ site.parameter }}file/capture-vision-template.html" class="otherLinkColour">CaptureVisionTemplate Object</a></li>
        <li lang="maui"><a href="{{ site.parameter }}file/image-source.html" class="otherLinkColour">ImageSource Object</a></li>
        <li lang="maui"><a href="{{ site.parameter }}file/target-roi-definition/index.html" class="otherLinkColour">TargetROIDef Object</a></li>
        <li lang="maui"><a href="{{ site.parameter }}file/semantic-processing/index.html" class="otherLinkColour">SemanticProcessing Object</a></li>
        <li lang="maui"><a href="{{ site.parameter }}file/task-settings/index.html" class="otherLinkColour">Task Setting Objects</a>
            <ul>
                <li lang="maui"><a href="{{ site.parameter }}file/task-settings/barcode-reader-task-settings.html" class="otherLinkColour">BarcodeReaderTaskSetting Object</a></li>
                <li lang="maui"><a href="{{ site.parameter }}file/task-settings/label-recognizer-task-settings.html" class="otherLinkColour">LabelRecognizerTaskSetting Object</a></li>
                <li lang="maui"><a href="{{ site.parameter }}file/task-settings/document-normalizer-task-settings.html" class="otherLinkColour">DocumentNormalizerTaskSetting Object</a></li>
                <li lang="maui"><a href="{{ site.parameter }}file/task-settings/code-parser-task-settings.html" class="otherLinkColour">CodeParserTaskSetting Object</a></li>
                <li lang="maui"><a href="{{ site.parameter }}file/task-settings/output-task-setting.html" class="otherLinkColour">OutputTaskSetting Object</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.parameter }}file/image-parameter.html" class="otherLinkColour">ImageParameter Object</a></li>
        <li lang="maui"><a href="{{ site.parameter }}file/auxiliary/index.mhtml" class="otherLinkColour">Auxiliary Setting Objects</a>
            <ul>
                <li lang="maui"><a href="{{ site.parameter }}file/auxiliary/barcode-format-specification.html" class="otherLinkColour">BarcodeFormatSpecification Object</a></li>
                <li lang="maui"><a href="{{ site.parameter }}file/auxiliary/textline-specification.html" class="otherLinkColour">TextLineSpecification Object</a></li>
                <li lang="maui"><a href="{{ site.parameter }}file/auxiliary/character-model.html" class="otherLinkColour">CharacterModel Object</a></li>
                <li lang="maui"><a href="{{ site.parameter }}file/auxiliary/global-parameter.html" class="otherLinkColour">GlobalParameter Object</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="maui"><a href="{{ site.parameter }}reference/index.html" class="otherLinkColour">Parameter Reference</a>
    <ul>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}capture-vision-template/" class="otherLinkColour">Capture Vision Template</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}capture-vision-template/image-roi-processing-name-array.html" class="otherLinkColour">ImageROIProcessingNameArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}capture-vision-template/image-source-name.html" class="otherLinkColour">ImageSourceName</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}capture-vision-template/max-parallel-tasks.html" class="otherLinkColour">MaxParallelTasks</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}capture-vision-template/min-image-capture-interval.html" class="otherLinkColour">MinImageCaptureInterval</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}capture-vision-template/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}capture-vision-template/output-original-image.html" class="otherLinkColour">OutputOriginalImage</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}capture-vision-template/semantic-processing-name-array.html" class="otherLinkColour">SemanticProcessingNameArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}capture-vision-template/timeout.html" class="otherLinkColour">Timeout</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}target-roi-def/" class="otherLinkColour">Target ROI Def</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}target-roi-def/base-target-roidef-name.html" class="otherLinkColour">BaseTargetROIDefName</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}target-roi-def/location.html" class="otherLinkColour">Location</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}target-roi-def/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}target-roi-def/pause-flag.html" class="otherLinkColour">PauseFlag</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}target-roi-def/task-setting-name-array.html" class="otherLinkColour">TaskSettingNameArray</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}semantic-processing/" class="otherLinkColour">Semantic Processing</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}semantic-processing/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}semantic-processing/reference-object-filter.html" class="otherLinkColour">ReferenceObjectFilter</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}semantic-processing/task-setting-name-array.html" class="otherLinkColour">TaskSettingNameArray</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/" class="otherLinkColour ">Barcode Reader Task Settings</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/barcode-colour-modes.html" class="otherLinkColour">BarcodeColourModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/barcode-complement-modes.html" class="otherLinkColour">BarcodeComplementModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/barcode-format-ids.html" class="otherLinkColour">BarcodeFormatIds</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/base-barcode-reader-task-setting-name.html" class="otherLinkColour">BaseBarcodeReaderTaskSettingName</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/deblur-modes.html" class="otherLinkColour">DeblurModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/deformation-resisting-modes.html" class="otherLinkColour">DeformationResistingModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/dpm-code-reading-modes.html" class="otherLinkColour">DPMCodeReadingModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/expected-barcodes-count.html" class="otherLinkColour">ExpectedBarcodesCount</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/localization-modes.html" class="otherLinkColour">LocalizationModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/max-threads-in-one-task.html" class="otherLinkColour">MaxThreadsInOneTask</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/return-barcode-zone-clarity.html" class="otherLinkColour">ReturnBarcodeZoneClarity</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/section-image-parameter-array.html" class="otherLinkColour">SectionImageParameterArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/start-section.html" class="otherLinkColour">StartSection</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/terminate-setting.html" class="otherLinkColour">TerminateSetting</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-reader-task-settings/text-result-order-modes.html" class="otherLinkColour">TextResultOrderModes</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/" class="otherLinkColour ">Label Recognizer Task Settings</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/base-label-recognizer-task-setting-name.html" class="otherLinkColour">BaseLabelRecognizerTaskSettingName</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/dictionary-correction-thresholds.html" class="otherLinkColour">DictionaryCorrectionThresholds</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/dictionary-path.html" class="otherLinkColour">DictionaryPath</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/max-threads-in-one-task.html" class="otherLinkColour">MaxThreadsInOneTask</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/section-image-parameter-array.html" class="otherLinkColour">SectionImageParameterArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/start-section.html" class="otherLinkColour">StartSection</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/string-length-range.html" class="otherLinkColour">StringLengthRange</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/string-regex-pattern.html" class="otherLinkColour">StringRegExPattern</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/terminate-setting.html" class="otherLinkColour">TerminateSetting</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/text-line-specification-name-array.html" class="otherLinkColour">TextLineSpecificationNameArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/confusable-characters-path.html" class="otherLinkColour">ConfusableCharactersPath</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}label-recognizer-task-settings/cluster-samples-count-threshold.html" class="otherLinkColour">ClusterSamplesCountThreshold</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/" class="otherLinkColour ">Document Normalizer Task Settings</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/base-document-normalizer-task-setting-name.html" class="otherLinkColour">BaseDocumentNormalizerTaskSettingName</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/brightness.html" class="otherLinkColour">Brightness</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/colour-mode.html" class="otherLinkColour">ColourMode</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/content-type.html" class="otherLinkColour">ContentType</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/contrast.html" class="otherLinkColour">Contrast</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/corner-angle-range.html" class="otherLinkColour">CornerAngleRange</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/deskew-mode.html" class="otherLinkColour">DeskewMode</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/expected-documents-count.html" class="otherLinkColour">ExpectedDocumentsCount</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/line-extraction-modes.html" class="otherLinkColour">LineExtractionModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/max-threads-in-one-task.html" class="otherLinkColour">MaxThreadsInOneTask</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/page-size.html" class="otherLinkColour">PageSize</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/quadrilateral-detection-modes.html" class="otherLinkColour">QuadrilateralDetectionModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/section-image-parameter-array.html" class="otherLinkColour">SectionImageParameterArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/start-section.html" class="otherLinkColour">StartSection</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}document-normalizer-task-settings/terminate-setting.html" class="otherLinkColour">TerminateSetting</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/" class="otherLinkColour ">Image Parameter</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/base-image-parameter-name.html" class="otherLinkColour">BaseImageParameterName</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/binarization-modes.html" class="otherLinkColour">BinarizationModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/colour-conversion-modes.html" class="otherLinkColour">ColourConversionModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/grayscale-enhancement-modes.html" class="otherLinkColour">GrayscaleEnhancementModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/grayscale-transformation-modes.html" class="otherLinkColour">GrayscaleTransformationModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/if-erase-text-zone.html" class="otherLinkColour">IfEraseTextZone</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/region-predetection-modes.html" class="otherLinkColour">RegionPredetectionModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/scale-down-threshold.html" class="otherLinkColour">ScaleDownThreshold</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/scale-up-modes.html" class="otherLinkColour">ScaleUpModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/text-detection-mode.html" class="otherLinkColour">TextDetectionMode</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-parameter/texture-detection-modes.html" class="otherLinkColour">TextureDetectionModes</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/" class="otherLinkColour ">TextLine Specification</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/applicable-text-line-numbers.html" class="otherLinkColour">ApplicableTextLineNumbers</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/base-text-line-specification-name.html" class="otherLinkColour">BaseTextLineSpecificationName</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/binarization-modes.html" class="otherLinkColour">BinarizationModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/char-height-range.html" class="otherLinkColour">CharHeightRange</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/character-model-name.html" class="otherLinkColour">CharacterModelName</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/character-normalization-modes.html" class="otherLinkColour">CharacterNormalizationModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/grayscale-enhancement-modes.html" class="otherLinkColour">GrayscaleEnhancementModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/string-length-range.html" class="otherLinkColour">StringLengthRange</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/string-regex-pattern.html" class="otherLinkColour">StringRegExPattern</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/position.html" class="otherLinkColour">Text line position parameters</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/concat-string-length-range.html" class="otherLinkColour">ConcatStringLengthRange</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/concat-string-regex-pattern.html" class="otherLinkColour">ConcatStringRegExPattern</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/concat-separator.html" class="otherLinkColour">ConcatSeparator</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/concat-results.html" class="otherLinkColour">ConcatResults</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/output-results.html" class="otherLinkColour">OutputResults</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/sub-groups.html" class="otherLinkColour">SubGroups</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/reference-group-name.html" class="otherLinkColour">ReferenceGroupName</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/text-lines-count.html" class="otherLinkColour">TextLinesCount</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/confusable-characters-correction.html" class="otherLinkColour">ConfusableCharactersCorrection</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}text-line-specification/expected-groups-count.html" class="otherLinkColour">ExpectedGroupsCount</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}character-model/" class="otherLinkColour ">Character Model</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}character-model/char-set.html" class="otherLinkColour">CharSet</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}character-model/directory-path.html" class="otherLinkColour">DirectoryPath</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}character-model/filter-file-path.html" class="otherLinkColour">FilterFilePath</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}character-model/name.html" class="otherLinkColour">Name</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/" class="otherLinkColour ">Barcode Format Specification</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/all-module-deviation.html" class="otherLinkColour">AllModuleDeviation</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/australian-post-encoding-table.html" class="otherLinkColour">AustralianPostEncodingTable</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/barcode-angle-range-array.html" class="otherLinkColour">BarcodeAngleRangeArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/barcode-bytes-length-range-array.html" class="otherLinkColour">BarcodeBytesLengthRangeArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/barcode-height-range-array.html" class="otherLinkColour">BarcodeHeightRangeArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/barcode-text-length-range-array.html" class="otherLinkColour">BarcodeTextLengthRangeArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/barcode-text-regex-pattern.html" class="otherLinkColour">BarcodeTextRegExPattern</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/barcode-width-range-array.html" class="otherLinkColour">BarcodeWidthRangeArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/barcode-zone-bar-count-range-array.html" class="otherLinkColour">BarcodeZoneBarCountRangeArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/barcode-zone-min-distance-to-image-borders.html" class="otherLinkColour">BarcodeZoneMinDistanceToImageBorders</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/code128-subset.html" class="otherLinkColour">Code128Subset</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/enable-addon-code.html" class="otherLinkColour">EnableAddOnCode</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/enable-data-matrix-ecc000-140.html" class="otherLinkColour">EnableDataMatrixECC000-140</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/enable-qr-code-model-1.html" class="otherLinkColour">EnableQRCodeModel1</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/find-uneven-module-barcode.html" class="otherLinkColour">FindUnevenModuleBarcode</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/head-module-ratio.html" class="otherLinkColour">HeadModuleRatio</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/min-quiet-zone-width.html" class="otherLinkColour">MinQuietZoneWidth</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/min-ratio-of-barcode-zone-width-to-height.html" class="otherLinkColour">MinRatioOfBarcodeZoneWidthToHeight</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/min-result-confidence.html" class="otherLinkColour">MinResultConfidence</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/mirror-mode.html" class="otherLinkColour">MirrorMode</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/module-size-range-array.html" class="otherLinkColour">ModuleSizeRangeArray</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/msi-code-check-digit-calculation.html" class="otherLinkColour">MSICodeCheckDigitCalculation</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/partition-modes.html" class="otherLinkColour">PartitionModes</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/patch-code-searching-margins.html" class="otherLinkColour">PatchCodeSearchingMargins</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/require-start-stop-chars.html" class="otherLinkColour">RequireStartStopChars</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/return-partial-barcode-value.html" class="otherLinkColour">ReturnPartialBarcodeValue</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/standard-format.html" class="otherLinkColour">StandardFormat</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/tail-module-ratio.html" class="otherLinkColour">TailModuleRatio</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}barcode-format-specification/verify-check-digit.html" class="otherLinkColour">VerifyCheckDigit</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}code-parser-task-settings/" class="otherLinkColour ">Code Parser Task Settings</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}code-parser-task-settings/code-specifications.html" class="otherLinkColour">CodeSpecifications</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}code-parser-task-settings/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}code-parser-task-settings/resources-path.html" class="otherLinkColour">ResourcesPath</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-source-options/" class="otherLinkColour ">Image Source</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-source-options/directory-path.html" class="otherLinkColour">DirectoryPath</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-source-options/file-filter.html" class="otherLinkColour">FileFilter</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-source-options/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-source-options/pages.html" class="otherLinkColour">Pages</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-source-options/pdf-reading-mode.html" class="otherLinkColour">PDFReadingMode</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-source-options/recursive.html" class="otherLinkColour">Recursive</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}image-source-options/type.html" class="otherLinkColour">Type</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}global-parameter/" class="otherLinkColour ">Global Parameter</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}global-parameter/max-total-image-dimension.html" class="otherLinkColour">MaxTotalImageDimension</a></li>
            </ul>
        </li>
        <li lang="maui"><a href="{{ site.dcv_parameters_reference }}output-task-setting/" class="otherLinkColour ">Output Task Settings</a>
            <ul>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}output-task-setting/name.html" class="otherLinkColour">Name</a></li>
                <li lang="maui"><a href="{{ site.dcv_parameters_reference }}output-task-setting/output-condition.html" class="otherLinkColour">OutputCondition</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="maui" class="category">USEFUL RESOURCES</li>
<li lang="maui"><a href="{{ site.dcv_maui }}release-notes/" class="otherLinkColour">Release Notes</a>
    <ul lang="maui">
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/maui-2.html" class="otherLinkColour">2.x</a></li>
    </ul>
</li>
<li lang="maui"><a href="{{ site.dbr_maui }}migrate-from-xamarin-to-maui.html" class="otherLinkColour">DBR - Migrate from Xamarin to MAUI</a></li>
<li lang="maui"><a href="{{ site.dcv_maui }}migrate-from-xamarin-to-maui.html" class="otherLinkColour">DDN - Migrate from Xamarin to MAUI</a></li>
