<li lang="android" class="category">DEVELOPMENT</li>

<li lang="android"><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.dbr_android }}user-guide.html" style="cursor:pointer;color:#3c3c3c">Read Barcodes</a></li>
        <li lang="android"><a href="{{ site.dlr_android }}user-guide.html" style="cursor:pointer;color:#3c3c3c">Recognize Text lines</a></li>
        <li lang="android"><a href="{{ site.ddn_android }}user-guide.html" style="cursor:pointer;color:#3c3c3c">Detect & Normalize Documents</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}user-guide/passport.html" style="cursor:pointer;color:#3c3c3c">Scan Passport</a></li>
        <li lang="android" ><a class="otherLinkColour">Explore Features</a>
            <ul lang="android" >
                <li lang="android"><a href="{{ site.dbr_android }}user-guide/explore-features/index.html" style="cursor:pointer;color:#3c3c3c" target="_blank">Barcode Decoding Features</a></li>
                <!-- <li lang="android" ><a class="otherLinkColour">Basic Features</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.dbr_features }}barcode-formats-and-count.html?lang=android" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}preprocess-images.html?lang=android" class="otherLinkColour">Read barcode from image</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}read-video-streaming-mobile.html?lang=android" class="otherLinkColour">Read barcode from video streaming</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}barcode-scan-region-mobile.html?lang=android" class="otherLinkColour">Read a specific area/region</a></li>
                        <li lang="android" ><a href="{{ site.dbr_android }}ui-configurations.html" class="otherLinkColour">Customize the UI</a></li>
                        <li lang="android" ><a href="{{ site.dcv_android }}user-guide/use-multi-frame-cross-filter.html" class="otherLinkColour">Use multi-frame cross filter</a></li>
                    </ul>
                </li>
                <li lang="android" ><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.dbr_features }}read-inverted-barcodes.html?lang=android" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}read-deformed-barcodes.html?lang=android" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}read-incomplete-barcodes.html?lang=android" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}read-a-large-image.html?lang=android" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}read-barcodes-with-small-module-size.html?lang=android" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}read-barcodes-with-imbalanced-colour.html?lang=android" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}read-barcodes-with-uneven-lighting.html?lang=android" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}read-images-with-texture.html?lang=android" class="otherLinkColour">Read images with texture</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}read-images-with-lots-of-text.html?lang=android" class="otherLinkColour">Read images with lots of text</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}read-dense-barcodes.html?lang=android" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}preprocess-images.html?lang=android" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}use-region-predetection.html?lang=android" class="otherLinkColour">Pre-detect Region of Interest (ROI)</a></li>
                    </ul>
                </li>
                <li lang="android" ><a class="otherLinkColour">Barcode Results</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.dbr_features }}get-confidence-rotation.html?lang=android" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}get-barcode-location.html?lang=android" class="otherLinkColour">Get barcode location</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}get-detailed-info.html?lang=android" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}filter-and-sort.html?lang=android" class="otherLinkColour">Filter and sort decoding results</a></li>
                    </ul>
                </li>
                <li lang="android" ><a class="otherLinkColour">Advanced Features</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.dbr_features }}use-runtimesettings-or-templates.html?lang=android" class="otherLinkColour">Use RuntimeSettings or Templates</a></li>
                        <li lang="android" ><a href="{{ site.dbr_features }}use-format-specific-configuration.html?lang=android" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
                <li lang="android" ><a href="{{ site.dbr_android }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.usecases }}read-dpm-codes.html?lang=android" class="otherLinkColour">Read DPM codes</a></li>
                        <li lang="android" ><a href="{{ site.usecases }}read-postal-codes.html?lang=android" class="otherLinkColour">Read Postal codes</a></li>
                    </ul>
                </li> -->
            </ul>
        </li>

    </ul>
</li>
<li lang="android"><a class="otherLinkColour">API Reference</a>
    <ul lang="android">
        <li lang="android"><a>DynamsoftCaptureVisionRouter</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CaptureVisionRouter</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/constructors.html"  class="otherLinkColour">Constructor and Destructor</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/single-file-processing.html"  class="otherLinkColour">Single-File Processing</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/multiple-file-processing.html"  class="otherLinkColour">Multiple-File Processing</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/settings.html"  class="otherLinkColour">Settings</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/intermediate-result.html"  class="otherLinkColour">Intermediate Result</a></li>
                    </ul>
                </li>
                <li lang="android"><a class="otherLinkColour">Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CaptureVisionRouterModule</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/captured-result-filter.html" class="otherLinkColour">CapturedResultFilter</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/captured-result-receiver.html" class="otherLinkColour">CapturedResultReceiver</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/captured-result.html" class="otherLinkColour">CapturedResult</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/intermediate-result-manager.html" class="otherLinkColour">IntermediateResultManager</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/intermediate-result-receiver.html" class="otherLinkColour">IntermediateResultReceiver</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/simplified-capture-vision-settings.html"  class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                    </ul>
                </li>
                <li lang="android"><a class="otherLinkColour">Interfaces</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">CaptureStateListener</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">ImageSourceStateListener</a></li>
                    </ul>
                </li>
                <li lang="android"><a class="otherLinkColour">Enumerations</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dcv_enumerations }}capture-vision-router/capture-state.html?lang=android"  class="otherLinkColour">CaptureState</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}capture-vision-router/preset-template.html?lang=android"  class="otherLinkColour">PresetTemplate</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        
        <li lang="android"><a>DynamsoftBarcodeReader</a>
            <ul lang="android">
                <li lang="android"><a class="otherLinkColour">Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dbr_android_api }}auxiliary-AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}barcode-details.html" class="otherLinkColour">BarcodeDetails</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}barcode-reader-module.html" class="otherLinkColour">BarcodeReaderModule</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}barcode-result-item.html" class="otherLinkColour">BarcodeResultItem</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}candidate-barcode-zones-unit.html" class="otherLinkColour">CandidateBarcodeZonesUnit</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}candidate-barcode-zone.html" class="otherLinkColour">CandidateBarcodeZone</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}complemented-barcode-image-unit.html" class="otherLinkColour">ComplementedBarcodeImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}auxiliary-DatamatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}decoded-barcode-element.html" class="otherLinkColour">DecodedBarcodeElement</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}decoded-barcodes-result.html" class="otherLinkColour">DecodedBarcodesResult</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}decoded-barcodes-unit.html" class="otherLinkColour">DecodedBarcodesUnit</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}deformation-resisted-barcode-image-unit.html" class="otherLinkColour">DeformationResistedBarcodeImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}auxiliary-ExtendedResult.html" class="otherLinkColour">ExtendedBarcodeResult</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}localized-barcodes-unit.html" class="otherLinkColour">LocalizedBarcodesUnit</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}localized-barcode-element.html" class="otherLinkColour">LocalizedBarcodesElement</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}auxiliary-OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}auxiliary-PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}auxiliary-QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}scaled-up-barcode-image-unit.html" class="otherLinkColour">ScaledUpBarcodeImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dbr_android_api }}simplified-barcode-reader-settings.html"  class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                    </ul>
                </li>
                <li lang="android"><a>Enumerations</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dcv_enumerations }}barcode-reader/barcode-format.html?lang=android"  class="otherLinkColour">BarcodeFormat</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}barcode-reader/deblur-mode.html?lang=android"  class="otherLinkColour">DeblurMode</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}barcode-reader/extended-barcode-result-type.html?lang=android"  class="otherLinkColour">ExtendedBarcodeResultType</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}barcode-reader/localization-mode.html?lang=android"  class="otherLinkColour">LocalizationMode</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}barcode-reader/qr-code-error-correction-level.html?lang=android"  class="otherLinkColour">QRCodeErrorCorrectionLevel</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="android"><a>DynamsoftLabelRecognizer</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dlr_android_api }}character-result.html" class="otherLinkColour">CharacterResult</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}label-recognizer-module.html" class="otherLinkColour">LabelRecognizerModule</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}localized-text-line-element.html" class="otherLinkColour">LocalizedTextLineElement</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}localized-text-lines-unit.html" class="otherLinkColour">LocalizedTextLinesUnit</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}simplified-label-recognizer-settings.html"  class="otherLinkColour">SimplifiedLabelRecognizerSettings</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}recognized-text-line-element.html" class="otherLinkColour">RecognizedTextLineElement</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}recognized-text-lines-result.html" class="otherLinkColour">RecognizedTextLinesResult</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}recognized-text-lines-unit.html" class="otherLinkColour">RecognizedTextLinesUnit</a></li>
                <li lang="android"><a href="{{ site.dlr_android_api }}text-line-result-item.html" class="otherLinkColour">TextLineResultItem</a></li>
            </ul>
        </li>
        <li lang="android"><a>DynamsoftDocumentNormalizer</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.ddn_android_api }}candidate-quad-edges-unit.html" class="otherLinkColour">CandidateQuadEdgesUnit</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}corners-unit.html" class="otherLinkColour">CornersUnit</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}detected-quad-element.html" class="otherLinkColour">DetectedQuadElement</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}detected-quad-result-item.html" class="otherLinkColour">DetectedQuadResultItem</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}detected-quads-result.html" class="otherLinkColour">DetectedQuadsResult</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}detected-quads-unit.html" class="otherLinkColour">DetectedQuadsUnit</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}document-normalizer-module.html" class="otherLinkColour">DocumentNormalizerModule</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}long-lines-unit.html" class="otherLinkColour">LongLinesUnit</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}normalized-image-element.html" class="otherLinkColour">NormalizedImageElement</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}normalized-image-result-item.html" class="otherLinkColour">NormalizedImageResultItem</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}normalized-images-result.html" class="otherLinkColour">NormalizedImagesResult</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}normalized-image-unit.html" class="otherLinkColour">NormalizedImageUnit</a></li>
                <li lang="android"><a href="{{ site.ddn_android_api }}simplified-document-normalizer-settings.html"  class="otherLinkColour">SimplifiedDocumentNormalizerSettings</a></li>
            </ul>
        </li>

        <li lang="android"><a>DynamsoftCore</a>
            <ul lang="android">
                <li lang="android"><a class="otherLinkColour">Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">BinaryImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">CapturedResultItem</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">ColourImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">ContoursUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/contour.html" class="otherLinkColour">Contour</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/core-module.html" class="otherLinkColour">CoreModule</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/corner.html" class="otherLinkColour">Corner</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/rect.html" class="otherLinkColour">DSRect</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/edge.html" class="otherLinkColour">Edge</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">EnhancedGrayscaleImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">FileImageTag</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">GrayscaleImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/image-data.html" class="otherLinkColour">ImageData</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">ImageSourceAdapter</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/image-tag.html" class="otherLinkColour">ImageTag</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result-extra-info.html" class="otherLinkColour">IntermediateResultExtraInfo</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">IntermediateResultUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/intermediate-result.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">LineSegmentsUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/line-segment.html" class="otherLinkColour">LineSegment</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/observation-parameters.html" class="otherLinkColour">ObservationParameters</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/original-image-result-item.html"  class="otherLinkColour">OriginalImageResultItem</a></li>
                        <!-- <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">PDFReadingParameter</a></li> -->
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">PredetectedRegionElement</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">PredetectedRegionsUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">RegionObjectElement</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/scaled-down-colour-image-unit.html" class="otherLinkColour">ScaledDownColourImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/short-lines-unit.html" class="otherLinkColour">ShortLinesUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">TextRemovedBinaryImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">TextureDetectionResultUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">TextureRemovedBinaryImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">TextureRemovedGrayscaleImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">TextZonesUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">TransformedGrayscaleImageUnit</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/vector4.html" class="otherLinkColour">Vector4</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/video-frame-tag.html" class="otherLinkColour">VideoFrameTag</a></li>
                    </ul>
                </li>
                
                <li lang="android"><a class="otherLinkColour">Interfaces</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/image-source-error-listener.html"  class="otherLinkColour">ImageSourceErrorListener</a></li>
                        <li lang="android"><a href="{{ site.dcv_android_api }}core/basic-structures/completion-listener.html" class="otherLinkColour">CompletionListener</a></li>
                    </ul>
                </li>

                <li lang="android"><a>Enumerations</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/buffer-overflow-protection-mode.html?lang=android"  class="otherLinkColour">BufferOverflowProtectionMode</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/captured-result-item-type.html?lang=android"  class="otherLinkColour">CapturedResultItemType</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/colour-channel-usage-type.html?lang=android"  class="otherLinkColour">ColourChannelUsageType</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/corner-type.html?lang=android"  class="otherLinkColour">CornerType</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/error-code.html?lang=android"  class="otherLinkColour">ErrorCode</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/grayscale-enhancement-mode.html?lang=android"  class="otherLinkColour">GrayscaleEnhancementMode</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/grayscale-transformation-mode.html?lang=android"  class="otherLinkColour">GrayscaleTransformationMode</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/image-capture-distance-mode.html?lang=android"  class="otherLinkColour">ImageCaptureDistanceMode</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/image-pixel-format.html?lang=android"  class="otherLinkColour">ImagePixelFormat</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/image-source-state.html?lang=android"  class="otherLinkColour">ImageSourceState</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/image-tag-type.html?lang=android"  class="otherLinkColour">ImageTagType</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/intermediate-result-unit-type.html?lang=android"  class="otherLinkColour">IntermediateResultUnitType</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/log-mode.html?lang=android"  class="otherLinkColour">LogMode</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/region-object-element-type.html?lang=android"  class="otherLinkColour">RegionObjectElementType</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/section-type.html?lang=android"  class="otherLinkColour">SectionType</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/transform-matrix-type.html?lang=android"  class="otherLinkColour">TransformMatrixType</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}core/video-frame-quality.html?lang=android"  class="otherLinkColour">VideoFrameQuality</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="android"><a>DynamsoftLicense</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}license/license-manager.html" class="otherLinkColour">LicenseManger</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}license/license-module.html" class="otherLinkColour">LicenseModule</a></li>
            </ul>
        </li>
        <li lang="android"><a>DynamsoftUtility</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/directory-fetcher.html" class="otherLinkColour">DirectoryFetcher</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/file-fetcher.html" class="otherLinkColour">FileFetcher</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/image-manager.html" class="otherLinkColour">ImageManager</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">MultiFrameResultCrossFilter</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/utility-exception.html" class="otherLinkColour">UtilityException</a></li>
                <li lang="android"><a href="{{ site.dcv_android_api }}utility/utility-module.html" class="otherLinkColour">UtilityModule</a></li>
            </ul>
        </li>
        <li lang="android"><a>DynamsoftCodeParser</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcp_android_api }}parsed-result-item.html" class="otherLinkColour">ParsedResultItem</a></li>
                <li lang="android"><a href="{{ site.dcp_android_api }}parsed-result.html" class="otherLinkColour">ParsedResult</a></li>
                <li lang="android"><a>Enumerations</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dcv_enumerations }}code-parser/mapping-status.html?lang=android"  class="otherLinkColour">MappingStatus</a></li>
                        <li lang="android"><a href="{{ site.dcv_enumerations }}code-parser/validation-status.html?lang=android"  class="otherLinkColour">ValiadtionStatus</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="android"><a>DynamsoftCameraEnhancer</a>
            <ul lang="android">
                <li lang="android"><a style="cursor:pointer;color:#3c3c3c">Classes</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dce_android_api }}primary-api/camera-enhancer.html" class="otherLinkColour">CameraEnhancer</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/camera-enhancer-module.html" class="otherLinkColour">CameraEnhancerModule</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/dcecameraview.html" class="otherLinkColour">CameraView</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/capabilities.html" class="otherLinkColour">Capabilities</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/drawingitem.html" class="otherLinkColour">DrawingItem</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/dcedrawinglayer.html" class="otherLinkColour">DrawingLayer</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/drawingstylemanager.html" class="otherLinkColour">DrawingStyleManager</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/drawingstyle.html" class="otherLinkColour">DrawingStyle</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/dcefeedback.html" class="otherLinkColour">Feedback</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/dceimageeditorview.html" class="otherLinkColour">ImageEditorView</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/drawingitem-line.html" class="otherLinkColour">LineDrawingItem</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/note.html" class="otherLinkColour">Note</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/drawingitem-quad.html" class="otherLinkColour">QuadDrawingItem</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/drawingitem-rect.html" class="otherLinkColour">RectDrawingItem</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/drawingitem-text.html" class="otherLinkColour">TextDrawingItem</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/tip-config.html" class="otherLinkColour">TipConfig</a></li>
                    </ul>
                </li>
                <li lang="android"><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
                    <ul lang="android">
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/protocol-dcecamerastatelistener.html" class="otherLinkColour">CameraStateListener</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/protocol-dcephotolistener.html" class="otherLinkColour">PhotoListener</a></li>
                        <li lang="android"><a href="{{ site.dce_android_api }}auxiliary-api/protocol-dceframelistener.html" class="otherLinkColour">VideoFrameListener</a></li>
                    </ul>
                </li>
                <li lang="android" ><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
                    <ul lang="android" >
                        <li lang="android" ><a href="{{ site.dcv_enumerations }}camera-position.html?lang=objc,swift" class="otherLinkColour">CameraPosition</a></li>
                        <li lang="android" ><a href="{{ site.dcv_enumerations }}camera-state.html?lang=objc,swift" class="otherLinkColour">CameraState</a></li>
                        <li lang="android" ><a href="{{ site.dcv_enumerations }}coordinate-base.html?lang=objc,swift" class="otherLinkColour">CoordinateBase</a></li>
                        <li lang="android" ><a href="{{ site.dcv_enumerations }}drawing-item-media-type.html?lang=objc,swift" class="otherLinkColour">DrawingItemMediaType</a></li>
                        <li lang="android" ><a href="{{ site.dcv_enumerations }}drawing-item-state.html?lang=objc,swift" class="otherLinkColour">DrawingItemState</a></li>
                        <li lang="android" ><a href="{{ site.dcv_enumerations }}enhanced-features.html?lang=objc,swift" class="otherLinkColour">EnhancedFeatures</a></li>
                        <li lang="android" ><a href="{{ site.dcv_enumerations }}focus-mode.html?lang=objc,swift" class="otherLinkColour">FocusMode</a></li>
                        <li lang="android" ><a href="{{ site.dcv_enumerations }}resolution.html?lang=objc,swift" class="otherLinkColour">Resolution</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="android"><a>DynamsoftImageProcessing</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.dcv_android_api }}image-processing/image-processing-module.html" class="otherLinkColour">ImageProcessingModule</a></li>
            </ul>
        </li>        
    </ul>
</li>
<li lang="android" class="category">USEFUL RESOURCES</li>
<li lang="android"><a href="{{ site.dcv_android }}release-notes/" class="otherLinkColour">Release Notes</a>
    <ul lang="android">
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/cvr.html" class="otherLinkColour">DynamsoftCaptureVisionRouter</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/dbr.html" class="otherLinkColour">DynamsoftBarcodeReader</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/ddn.html" class="otherLinkColour">DynamsoftDocumentNormalizer</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/dlr.html" class="otherLinkColour">DynamsoftLabelRecognizer</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/core.html" class="otherLinkColour">DynamsoftCore</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/dce.html" class="otherLinkColour">DynamsoftCameraEnhancer</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/dcp.html" class="otherLinkColour">DynamsoftCodeParser</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/dcpd.html" class="otherLinkColour">DynamsoftCodeParserDedicator</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/dip.html" class="otherLinkColour">DynamsoftImageProcessing</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/license.html" class="otherLinkColour">DynamsoftLicense</a></li>
        <li lang="android"><a href="{{ site.dcv_android }}release-notes/utility.html" class="otherLinkColour">DynamsoftUtility</a></li>
    </ul>
</li>
