<li lang="maui" class="category">DEVELOPMENT</li>

<li lang="maui"><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="maui">
        <li lang="maui"><a class="otherLinkColour">Getting Started</a>
            <ul lang="maui">
                <li lang="maui"><a href="{{ site.dbr_maui }}user-guide.html" style="cursor:pointer;color:#3c3c3c">Read Barcodes</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="maui"><a class="otherLinkColour">API Reference</a>
    <ul lang="maui">
        <li lang="maui"><a>Dynamsoft.CaptureVisionRouter.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CaptureVisionRouter</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/constructors.html"  class="otherLinkColour">Constructor and Destructor</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/single-file-processing.html"  class="otherLinkColour">Single-File Processing</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/multiple-file-processing.html"  class="otherLinkColour">Multiple-File Processing</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/settings.html"  class="otherLinkColour">Settings</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/intermediate-result.html"  class="otherLinkColour">Intermediate Result</a></li>
                    </ul>
                </li>
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CaptureVisionRouterModule</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/captured-result-filter.html" class="otherLinkColour">CapturedResultFilter</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/captured-result-receiver.html" class="otherLinkColour">CapturedResultReceiver</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/captured-result.html" class="otherLinkColour">CapturedResult</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/intermediate-result-manager.html" class="otherLinkColour">IntermediateResultManager</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/preset-template.html"  class="otherLinkColour">PresetTemplate</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/simplified-capture-vision-settings.html"  class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.BarcodeReader.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dbr_maui_api }}barcode-reader-module.html" class="otherLinkColour">BarcodeReaderModule</a></li>
                        <li lang="maui"><a href="{{ site.dbr_maui_api }}barcode-result-item.html" class="otherLinkColour">BarcodeResultItem</a></li>
                        <li lang="maui"><a href="{{ site.dbr_maui_api }}decoded-barcodes-result.html" class="otherLinkColour">DecodedBarcodesResult</a></li>
                        <li lang="maui"><a href="{{ site.dbr_maui_api }}simplified-barcode-reader-settings.html"  class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                    </ul>
                </li>
                <li lang="maui"><a>Enumerations</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}enum/barcode-format.html"  class="otherLinkColour">BarcodeFormat</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}enum/deblur-mode.html"  class="otherLinkColour">DeblurMode</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}enum/localization-mode.html"  class="otherLinkColour">LocalizationMode</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.CameraEnhancer.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dce_maui_api }}camera-enhancer.html" class="otherLinkColour">CameraEnhancer</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}camera-view.html" class="otherLinkColour">CameraView</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}feedback.html" class="otherLinkColour">Feedback</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}torch-button.html" class="otherLinkColour">TorchButton</a></li>
                    </ul>
                </li>
                <li lang="maui"><a>Enumerations</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dce_maui_api }}camera-position.html" class="otherLinkColour">CameraPosition</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}enhanced-features.html" class="otherLinkColour">EnhancedFeatures</a></li>
                        <li lang="maui"><a href="{{ site.dce_maui_api }}focus-mode.html" class="otherLinkColour">FocusMode</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.Utility.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}capture-vision-router/auxiliary-classes/multi-frame-result-cross-filter.html" class="otherLinkColour">MultiFrameResultCrossFilter</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li lang="maui"><a>Dynamsoft.Core.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/captured-result-item.html" class="otherLinkColour">CapturedResultItem</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/core-module.html" class="otherLinkColour">CoreModule</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/rect.html" class="otherLinkColour">DMRect</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/image-data.html" class="otherLinkColour">ImageData</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/image-source-adapter.html" class="otherLinkColour">ImageSourceAdapter</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                    </ul>
                </li>
                
                <li lang="maui"><a class="otherLinkColour">Interfaces</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/completion-listener.html" class="otherLinkColour">CompletionListener</a></li>
                    </ul>
                </li>

                <li lang="maui"><a>Enumerations</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/enum/captured-result-item-type.html"  class="otherLinkColour">CapturedResultItemType</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/enum/colour-channel-usage-type.html"  class="otherLinkColour">ColourChannelUsageType</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/enum/grayscale-enhancement-mode.html"  class="otherLinkColour">GrayscaleEnhancementMode</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/enum/grayscale-transformation-mode.html"  class="otherLinkColour">GrayscaleTransformationMode</a></li>
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}core/enum/image-pixel-format.html"  class="otherLinkColour">ImagePixelFormat</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.License.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a class="otherLinkColour">Classes</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}license/license-manager.html" class="otherLinkColour">LicenseManger</a></li>
                    </ul>
                </li>
                <li lang="maui"><a class="otherLinkColour">Interfaces</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcv_maui_api }}license/license-verification-listener.html"  class="otherLinkColour">LicenseVerificationListener</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="maui"><a>Dynamsoft.CodeParser.Maui</a>
            <ul lang="maui">
                <li lang="maui"><a href="{{ site.dcp_maui_api }}parsed-field.html" class="otherLinkColour">ParsedField</a></li>
                <li lang="maui"><a href="{{ site.dcp_maui_api }}parsed-result-item.html" class="otherLinkColour">ParsedResultItem</a></li>
                <li lang="maui"><a href="{{ site.dcp_maui_api }}parsed-result.html" class="otherLinkColour">ParsedResult</a></li>
                <li lang="maui"><a>Enumerations</a>
                    <ul lang="maui">
                        <li lang="maui"><a href="{{ site.dcp_maui_api }}enum/mapping-status.html"  class="otherLinkColour">MappingStatus</a></li>
                        <li lang="maui"><a href="{{ site.dcp_maui_api }}enum/validation-status.html"  class="otherLinkColour">ValiadtionStatus</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!-- <li lang="maui"><a>DynamsoftLabelRecognizer</a>
            <ul lang="maui">
                <li lang="maui"><a href="{{ site.dlr_maui_api }}character-result.html" class="otherLinkColour">CharacterResult</a></li>
                <li lang="maui"><a href="{{ site.dlr_maui_api }}label-recognizer-module.html" class="otherLinkColour">LabelRecognizerModule</a></li>
                <li lang="maui"><a href="{{ site.dlr_maui_api }}localized-text-line-element.html" class="otherLinkColour">LocalizedTextLineElement</a></li>
                <li lang="maui"><a href="{{ site.dlr_maui_api }}localized-text-lines-unit.html" class="otherLinkColour">LocalizedTextLinesUnit</a></li>
                <li lang="maui"><a href="{{ site.dlr_maui_api }}simplified-label-recognizer-settings.html"  class="otherLinkColour">SimplifiedLabelRecognizerSettings</a></li>
                <li lang="maui"><a href="{{ site.dlr_maui_api }}recognized-text-line-element.html" class="otherLinkColour">RecognizedTextLineElement</a></li>
                <li lang="maui"><a href="{{ site.dlr_maui_api }}recognized-text-lines-result.html" class="otherLinkColour">RecognizedTextLinesResult</a></li>
                <li lang="maui"><a href="{{ site.dlr_maui_api }}recognized-text-lines-unit.html" class="otherLinkColour">RecognizedTextLinesUnit</a></li>
                <li lang="maui"><a href="{{ site.dlr_maui_api }}text-line-result-item.html" class="otherLinkColour">TextLineResultItem</a></li>
            </ul>
        </li>
        <li lang="maui"><a>DynamsoftDocumentNormalizer</a>
            <ul lang="maui">
                <li lang="maui"><a href="{{ site.ddn_maui_api }}candidate-quad-edges-unit.html" class="otherLinkColour">CandidateQuadEdgesUnit</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}corners-unit.html" class="otherLinkColour">CornersUnit</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}detected-quad-element.html" class="otherLinkColour">DetectedQuadElement</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}detected-quad-result-item.html" class="otherLinkColour">DetectedQuadResultItem</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}detected-quads-result.html" class="otherLinkColour">DetectedQuadsResult</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}detected-quads-unit.html" class="otherLinkColour">DetectedQuadsUnit</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}document-normalizer-module.html" class="otherLinkColour">DocumentNormalizerModule</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}long-lines-unit.html" class="otherLinkColour">LongLinesUnit</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}normalized-image-element.html" class="otherLinkColour">NormalizedImageElement</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}normalized-image-result-item.html" class="otherLinkColour">NormalizedImageResultItem</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}normalized-images-result.html" class="otherLinkColour">NormalizedImagesResult</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}normalized-image-unit.html" class="otherLinkColour">NormalizedImageUnit</a></li>
                <li lang="maui"><a href="{{ site.ddn_maui_api }}simplified-document-normalizer-settings.html"  class="otherLinkColour">SimplifiedDocumentNormalizerSettings</a></li>
            </ul>
        </li> -->
    </ul>
</li>
<li lang="maui" class="category">USEFUL RESOURCES</li>
<li lang="maui"><a href="{{ site.dcv_maui }}release-notes/" class="otherLinkColour">Release Notes</a>
    <ul lang="maui">
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/cvr.html" class="otherLinkColour">DynamsoftCaptureVisionRouter</a></li>
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/dbr.html" class="otherLinkColour">DynamsoftBarcodeReader</a></li>
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/ddn.html" class="otherLinkColour">DynamsoftDocumentNormalizer</a></li>
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/dlr.html" class="otherLinkColour">DynamsoftLabelRecognizer</a></li>
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/core.html" class="otherLinkColour">DynamsoftCore</a></li>
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/dce.html" class="otherLinkColour">DynamsoftCameraEnhancer</a></li>
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/dcp.html" class="otherLinkColour">DynamsoftCodeParser</a></li>
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/dcpd.html" class="otherLinkColour">DynamsoftCodeParserDedicator</a></li>
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/dip.html" class="otherLinkColour">DynamsoftImageProcessing</a></li>
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/license.html" class="otherLinkColour">DynamsoftLicense</a></li>
        <li lang="maui"><a href="{{ site.dcv_maui }}release-notes/utility.html" class="otherLinkColour">DynamsoftUtility</a></li>
    </ul>
</li>
