<li><a href="{{ site.react-native }}" class="otherLinkColour">React Native</a></li>
    <ul>
        <li><a href="{{ site.rn-guide }}barcode-reader.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.rn-api }}api-reference.html" class="otherLinkColour">API references</a>
            <ul>
                <li><a href="{{ site.rn-api }}camera-enhancer.html" class="otherLinkColour">DynamsoftBarcodeReader Class</a>
                <li><a href="{{ site.rn-api }}camera-enhancer.html" class="otherLinkColour">DynamsoftCameraView Class</a>
                </li>                
                <li><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.rn-api }}interface-dbr-runtime-settings.html" class="otherLinkColour">DBRRuntimeSettings</a></li>
                        <li><a href="{{ site.rn-api }}interface-barcode-result.html" class="otherLinkColour">BarcodeResult</a></li>
                        <li><a href="{{ site.rn-api }}interface-barcode-location-result.html" class="otherLinkColour">BarcodeLocationResult</a></li>
                        <li><a href="{{ site.rn-api }}interface-quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.rn-api }}interface-point.html" class="otherLinkColour">Point</a></li>
                        <li><a href="{{ site.rn-api }}interface-region.html" class="otherLinkColour">Region</a></li>
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.rn-api }}enum-dbr-preset-template.html" class="otherLinkColour">EnumPresetTemplate</a></li>
                        <li><a href="{{ site.rn-api }}enum-barcode-format.html" class="otherLinkColour">EnumBarcodeFormat</a></li>
                        <li><a href="{{ site.rn-api }}enum-barcode-format2.html" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.rn-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.rn-release-notes }}rn-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>