<li><a href="{{ site.cordova }}" class="otherLinkColour">Cordova</a>
    <ul>
        <li><a href="{{ site.cordova-guide }}barcode-reader.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.cordova-api }}" class="otherLinkColour">API references</a>
            <ul>
                <li><a href="{{ site.cordova-api }}barcode-reader.html" class="otherLinkColour">DCVBarcodeReader Class</a></li>
                <li><a href="{{ site.cordova-api }}camera-enhancer.html" class="otherLinkColour">DCVCameraEnhancer Class</a></li>
                <li><a href="{{ site.cordova-api }}camera-view.html" class="otherLinkColour">DCVCameraView Class</a></li>
                <li><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.cordova-api }}interface-barcode-location-result.html" class="otherLinkColour">BarcodeLocationResult</a></li>
                        <li><a href="{{ site.cordova-api }}interface-barcode-result.html" class="otherLinkColour">BarcodeResult</a></li>
                        <li><a href="{{ site.cordova-api }}interface-dbr-runtime-settings.html" class="otherLinkColour">DBRRuntimeSettings</a></li>
                        <li><a href="{{ site.cordova-api }}interface-point.html" class="otherLinkColour">Point</a></li>
                        <li><a href="{{ site.cordova-api }}interface-quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.cordova-api }}interface-rect.html" class="otherLinkColour">Rect</a></li>
                        <li><a href="{{ site.cordova-api }}interface-region.html" class="otherLinkColour">Region</a></li>
                        <li><a href="{{ site.cordova-api }}interface-torch-button.html" class="otherLinkColour">TorchButton</a></li>
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
                    <ul>
                        <li><a href="{{ site.cordova-api }}enum-barcode-format.html" class="otherLinkColour">EnumBarcodeFormat</a></li>
                        <li><a href="{{ site.cordova-api }}enum-barcode-format2.html" class="otherLinkColour">EnumBarcodeFormat_2</a></li>
                        <li><a href="{{ site.cordova-api }}enum-dbr-preset-template.html" class="otherLinkColour">EnumPresetTemplate</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.cordova-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.cordova-release-notes }}cordova-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>