---
layout: default-layout
title: CrossVerificationStatus - Dynamsoft Capture Vision React Native
description: The enumeration CrossVerificationStatus of Dynamsoft Capture Vision React Native describes the status of the captured results.
keywords: cross verification status
needGenerateH3Content: true
needAutoGenerateSidebar: true
noTitleIndex: true
breadcrumbText: CrossVerificationStatus
codeAutoHeight: true
---

# Enumeration CrossVerificationStatus

`CrossVerificationStatus` describes the status of the captured results.

## Definition

*Assembly:* dynamsoft-capture-vision-react-native

```js
enum EnumCrossVerificationStatus {
  CVS_NOT_VERIFIED = 0,
  CVS_PASSED = 1,
  CVS_FAILED = 2
}
```

## Members

| Member | Description |
| ------ | ----------- |
| `CVS_NOT_VERIFIED` | The item has not been verified. |
| `CVS_PASSED` | The item has passed verification. |
| `CVS_FAILED` | The item has failed verification. |
